<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :closedate %><br>
    <%= f.datetime_select :closedate %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :sfdcae %><br>
    <%= f.text_field :sfdcae %>
  </div>
  <div class="field">
    <%= f.label :platformrep %><br>
    <%= f.text_field :platformrep %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
