<p id="notice"><%= notice %></p>

<p>
  <strong>Closedate:</strong>
  <%= @sale.closedate %>
</p>

<p>
  <strong>Company:</strong>
  <%= @sale.company %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Sfdcae:</strong>
  <%= @sale.sfdcae %>
</p>

<p>
  <strong>Platformrep:</strong>
  <%= @sale.platformrep %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
